
.imagen_main img{
    @include tamanio(auto,100%);
}

@media (max-width:600px){
    .imagen_main{        
        background-image: url(../../media/fondo_celular.jpg);
        background-position: center;
        background-size: cover;
        height: 583px;
        width: 100%;
        margin: 0;
        padding: 0;    
        img{
            display: none;
        }   
    } 
}



