

.main__producto__unitario{
    @include flexboxmix(flex,center);
    font-size: 1.5rem;
    @include tamanio(auto,100%);
  }
  
  .main__producto__unitario--2 {
    @include tamanio(auto,78%); 
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .main__producto__unitario--img img {
    @include cajas(350px,350px,30px)
  }
  
  .main__producto__unitario--texto {
    margin-left: 20px;
    width: 100%;
    h2 {
      font-size: 35px;
    }
  }
  
  .button__cantidad {
    width: 100%;
    height: 35px;
    font-size: 24px;
    border-radius: 30px;
    background-color: rgb(15, 15, 15);
    color: aliceblue;
  }
  
  .button__carrito {
    @include cajas(35px,550px,30px);
    font-size: 24px;
    background-color: rgb(15, 15, 15);
    color: rgb(236, 236, 236);
    width: 100%
  }
  
  .combobox {
    @include cajas(35px,800px,30px);
    font-size: 24px;
    background-color: rgb(15, 15, 15);
    color: rgb(236, 236, 236);
    text-align: center;
    margin-bottom: 8px;
    width: 100%;
  }
  
  .main__productos__unitario__relacionados {
    text-align: center;
    margin-top: 30px;
  }
  
  .main__productos__unitario__relacionados--fotos{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    div{
      height: 400px;
      width: 425px;
      text-align: center;
      margin-bottom: 30px;
        img{ 
          @include cajas(300px,300px,30px);       
          margin-bottom: 20px;
        }
        
    }
   
  }
  
  .main__productos__unitario__relacionados h3 {
    font-size: 35px;
  }
  @media (max-width:1200px) {
    .main__producto__unitario--2{
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  
