
.main__sobre__nosotros{
    background-color: $blancoCrema;
}

.container {    
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "sobre__nosotros__foto--1 sobre__nosotros__texto--1 sobre__nosotros__texto--1"
      "sobre__nosotros__texto--2 sobre__nosotros__texto--2 sobre__nosotros__foto--2"; 
      img{border-radius: 250px;}
      @media (max-width:1180px) {
        
      
      }
    
  }
  
  .sobre__nosotros__foto--1 { grid-area: sobre__nosotros__foto--1; }
  
  .sobre__nosotros__foto--2 { grid-area: sobre__nosotros__foto--2; }
  
  .sobre__nosotros__texto--1 { grid-area: sobre__nosotros__texto--1; }
  
  .sobre__nosotros__texto--2 { grid-area: sobre__nosotros__texto--2; }

  