.main_tabla_talles{
    display: flex;
    justify-content: center;
    width: 100%;
    img{
        @include tamanio(auto,100%);
    }
}


@media (max-width:600px) {
    .main_tabla_talles{
            background-image: url(../media/tabla_talles_celular.png);
            background-position: center;
            background-size:100% 100%;    
            background-repeat: no-repeat;      
            height: 1111px;
            width: 100%;      
          img{          
           display: none;
          }
        
    }
    
}
