.main_tabla_talles{
    display: flex;
    justify-content: center;
    width: 100%;
    img{
        @include tamanio(auto,100%);
    }
}


@media (max-width:400px) {
    .main_tabla_talles{
        background-image: url(../media/avat_tabla_celu.jpg);
        background-position: center;
        background-size:cover;
        height: 600px;
        width: auto;
          img{
            display: none;
          }
        
    }
    
}
