/* $blancoCrema:  rgb(236, 236, 236);
$negroCrema:  rgb(15, 15, 15);
$negroOscuro:  rgb(10,10,10);
@mixin flexboxmix($display,$content) {
    display: $display;
    justify-content: $content;
}
@mixin tamanio($h,$w) {
    height: $h;
    width: $w;
}

@mixin cajas($h,$w,$b) {
    height: $h;
    width: $w;
    border-radius: $b;
} */


@import "./base/reset";
@import "./base/typography";

@import "./utils/variables";
@import "./utils/mixin";

@import "./layout/header";
@import "./layout/footer";

@import "./views/index";
@import "./views/producto_unitario";
@import "./views/productos";
@import "./views/sobre_nosotros";
@import "./views/tabla_talles";

